In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(".data/Pokemon.csv")
df.shape

(800, 13)

In [3]:
df.drop(['#', 'Total', 'Type 1', 'Type 2', 'Generation', 'Legendary'], axis=1, inplace=True)
df.set_index('Name', inplace=True)

In [4]:
df

                       HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
Name
Bulbasaur              45      49       49       65       65     45
Ivysaur                60      62       63       80       80     60
Venusaur               80      82       83      100      100     80
VenusaurMega Venusaur  80     100      123      122      120     80
Charmander             39      52       43       60       50     65
...                    ..     ...      ...      ...      ...    ...
Diancie                50     100      150      100      150     50
DiancieMega Diancie    50     160      110      160      110    110
HoopaHoopa Confined    80     110       60      150      130     70
HoopaHoopa Unbound     80     160       60      170      130     80
Volcanion              80     110      120      130       90     70

[800 rows x 6 columns]

In [8]:
df.corr(method="pearson")

               HP    Attack   Defense   Sp. Atk   Sp. Def     Speed
HP       1.000000  0.422386  0.239622  0.362380  0.378718  0.175952
Attack   0.422386  1.000000  0.438687  0.396362  0.263990  0.381240
Defense  0.239622  0.438687  1.000000  0.223549  0.510747  0.015227
Sp. Atk  0.362380  0.396362  0.223549  1.000000  0.506121  0.473018
Sp. Def  0.378718  0.263990  0.510747  0.506121  1.000000  0.259133
Speed    0.175952  0.381240  0.015227  0.473018  0.259133  1.000000

In [7]:
df.corr(method="spearman")

               HP    Attack   Defense   Sp. Atk   Sp. Def     Speed
HP       1.000000  0.565734  0.433402  0.470813  0.493280  0.265920
Attack   0.565734  1.000000  0.514995  0.361616  0.320620  0.373443
Defense  0.433402  0.514995  1.000000  0.314217  0.578816  0.092818
Sp. Atk  0.470813  0.361616  0.314217  1.000000  0.571757  0.460220
Sp. Def  0.493280  0.320620  0.578816  0.571757  1.000000  0.320649
Speed    0.265920  0.373443  0.092818  0.460220  0.320649  1.000000

In [11]:
df.corr(method="kendall")

               HP    Attack   Defense   Sp. Atk   Sp. Def     Speed
HP       1.000000  0.413993  0.324233  0.338039  0.357735  0.180047
Attack   0.413993  1.000000  0.369529  0.258397  0.223371  0.259124
Defense  0.324233  0.369529  1.000000  0.220791  0.451869  0.063026
Sp. Atk  0.338039  0.258397  0.220791  1.000000  0.422981  0.329196
Sp. Def  0.357735  0.223371  0.451869  0.422981  1.000000  0.222677
Speed    0.180047  0.259124  0.063026  0.329196  0.222677  1.000000

In [12]:
df[["HP", "Attack"]].corr()

              HP    Attack
HP      1.000000  0.422386
Attack  0.422386  1.000000