In [16]:
from lightfm import LightFM
import pandas as pd
from scipy import sparse

In [20]:
interactions = pd.DataFrame([
    [0, 0],
    [0, 1],
    [0, 3],
    [1, 2],
    [2, 0],
    [2, 3]
], columns=['user_id', 'item_id'])

In [21]:
interactions

   user_id  item_id
0        0        0
1        0        1
2        0        3
3        1        2
4        2        0
5        2        3

In [28]:
interaction_table = interactions.pivot_table(index='user_id', columns='item_id', aggfunc=len).fillna(0)
interaction_table

item_id    0    1    2    3
user_id
0        1.0  1.0  0.0  1.0
1        0.0  0.0  1.0  0.0
2        1.0  0.0  0.0  1.0

In [29]:
user_features = pd.DataFrame([
    [0, 20, 21],
    [1, 30, 40],
    [0, 20, 22]
], columns=['gender', 'age', 'area_code'])

In [10]:
user_features

   gender  age  area_code
0       0   20         21
1       1   30         40
2       0   20         22

In [11]:
item_features = pd.DataFrame([
    [21, 2020, 1],
    [21, 2000, 0],
    [22, 2010, 0],
    [34, 2005, 0]
], columns=['area_code', 'year', 'category_code'])

In [12]:
item_features

   area_code  year  category_code
0         21  2020              1
1         21  2000              0
2         22  2010              0
3         34  2005              0

In [13]:
model = LightFM(no_components=2)

In [30]:
model.fit(
    sparse.coo_matrix(interaction_table.values),
    user_features=sparse.csr_matrix(user_features.values), 
    item_features=sparse.csr_matrix(item_features.values)
)

In [46]:
results = model.predict_rank(
    sparse.coo_matrix(interaction_table.values),
    user_features=sparse.csr_matrix(user_features.values), 
    item_features=sparse.csr_matrix(item_features.values)
)

In [48]:
results.toarray()

array([[0., 2., 0., 3.],
       [0., 0., 1., 0.],
       [0., 0., 0., 3.]], dtype=float32)

In [49]:
interaction_table.values

array([[1., 1., 0., 1.],
       [0., 0., 1., 0.],
       [1., 0., 0., 1.]])